* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 10%;
  background-color: black;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: red;
  padding: 16px;
  text-decoration: none;
}

header {
  width: 90%;
  height: 80px;
  background-color: cornflowerblue;
}