* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}

header {
  display: flex;
  width: calc(100% - 200px);
  position: fixed;
  right: 0;
  height: 80px;
  background-color: cornflowerblue;
}

main {
  height: calc(100vh - 80px);
  overflow-y: auto;
  background-color: violet;
}

.sidebar {
  height: calc(100vh - 80px);
  width: 200px; 
  background-color: black;
  overflow: hidden;
}

.sidebar a {
  display: block;
  color: red;
  padding: 16px;
  text-decoration: none;
}


footer {
  width: 100%;
  height: 80px;
  background-color: coral;
}